/* RESET */
body {
    margin: 0;
    overflow-x: hidden; /* permite scroll vertical */
    font-family: monospace;
    color: white;
}

/* 🎬 FONDO MATRIX */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

/* 🔥 CAPA OSCURA */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

/* 🧠 CONTENIDO PRINCIPAL */
.contenido {
    position: relative;
    z-index: 2;
    text-align: center;

    min-height: 100vh; /* ocupa toda la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* TITULO */
.contenido h1 {
    font-size: 90px;
    margin: 0;
    color: #00ff00;
    text-shadow: 0 0 10px black;
}

/* SUBTEXTO */
.contenido p {
    font-size: 40px;
    margin-top: -0px;
    text-shadow: 
        0 0 5px black,
        0 0 10px black,
        0 0 20px black;
}

/* 📄 SECCION SOBRE MI */
.sobre-mi {
    position: relative;
    z-index: 2;
    padding: 100px 20px;
    text-align: center;
}

/* TITULO */
.sobre-mi h2 {
    font-size: 40px;
    color: #bfffe0;
}

/* LINEA */
.linea {
    width: 80px;
    height: 4px;
    background: #00ff88;
    margin: 10px auto 50px;
    border-radius: 5px;
}

/* CARD */
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    max-width: 1000px;
    margin: auto;
    padding: 60px;

    background: rgba(0, 0, 0, 0.6);
    border-radius: 20px;

    box-shadow: 0 0 20px rgba(0, 255, 100, 0.2);
    border: 1px solid rgba(0, 255, 100, 0.2);
}

/* IMAGEN */
.img-box img {
    width: 400px;
    border-radius: 10px;
}

/* TEXTO */
.texto-box p {
    text-align: left;
    color: #ccc;
    line-height: 1.6;
    font-size: 20px;
}

/* 📱 RESPONSIVE */
@media (max-width: 768px) {
    .contenido h1 {
        font-size: 50px;
    }

    .contenido p {
        font-size: 20px;
    }

    .card {
        flex-direction: column;
        text-align: center;
    }

    .texto-box p {
        text-align: center;
    }
}
